<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750226629958-ul0qtnluroga834ek5v4imabgi3t73mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750226629958-ul0qtnluroga834ek5v4imabgi3t73mo</string>
	<key>API_KEY</key>
	<string>AIzaSyDuxEF1I2i1bB0x2Wx0xnINRegZkZXGKR4</string>
	<key>GCM_SENDER_ID</key>
	<string>750226629958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hardibsalih.SwiftUICombinWithData</string>
	<key>PROJECT_ID</key>
	<string>firfordesign-code</string>
	<key>STORAGE_BUCKET</key>
	<string>firfordesign-code.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750226629958:ios:1ddcbd2743357cc6a33147</string>
</dict>
</plist>